
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 highlight">
            @Html.Label("Date", "Date", new { })
        </div>

        <div class="col-md-10 listing-title">
            @Html.Label("Title0 Title1")
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-10 listing-description">
            <bold>@Html.Label("Description0 | Description1 | Description2 | Description3 | Description4")</bold>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-10">
            @Html.Label("Contact0 | Contact1 | Contact2 | Contact3 | Contact4")
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>

        <div class="col-md-10">
            @Html.Label("Brag")
        </div>
    </div>

</div>
<hr />