@model IEnumerable<Looking2.Web.ViewModels.EventViewModel>

<span class="label label-default">@Model.Count() Listings</span>
<hr class="resultsRule" />

@foreach (var item in Model)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 highlight">
                @Html.DisplayFor(Model => item.Date)
            </div>

            <div class="col-md-10 listing-title">
                @Html.DisplayFor(Model => item.TitleFormatted)
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                @if (!string.IsNullOrWhiteSpace(item.Price) && item.Price.ToLower().Contains("free"))
                {
                    <p style="color:green;">FREE!</p>
                }
            </div>

            <div class="col-md-10 listing-description">
                <bold>@Html.DisplayFor(Model => item.DescriptionFormatted)</bold>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(item.LocationFormatted))
        {
            <div class="row">
                <div class="col-md-2">
                </div>

                <div class="col-md-10">
                    <bold>@Html.DisplayFor(Model => item.LocationFormatted)</bold>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-2">
                @Html.ActionLink("Tell me more", "Details", new { id = item.Id })
            </div>

            <div class="col-md-10">
                @Html.DisplayFor(Model => item.ContactFormatted)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-10">
                @Html.DisplayFor(Model => item.Brag)
            </div>
        </div>

    </div>
    <hr />
}