@model EventListingViewModel
@{ 
    ViewData["Title"] = Model.PageTitle;
}
<form asp-action="Create">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 centered-column">
                @Html.Partial(Model.HeadingPartial)
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*TODO: make view more generic and add if string.null to check model for which fields to display*@ 
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Title0Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Titles[0]" class="form-control" />
                <span asp-validation-for="Listing.Titles[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Description0Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Descriptions[0]" class="form-control" />
                <span asp-validation-for="Listing.Descriptions[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Title1Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Titles[1]" class="form-control" />
                <span asp-validation-for="Listing.Titles[1]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Contact0Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Contact[0]" class="form-control" />
                <span asp-validation-for="Listing.Contact[0]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Contact1Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Contact[1]" class="form-control" />
                <span asp-validation-for="Listing.Contact[1]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.PriceLabel</label>
            <div class="col-md-8">
                <input asp-for="Listing.Price" class="form-control" />
                <span asp-validation-for="Listing.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.AdmissionInfoLabel</label>
            <div class="col-md-8">
                <input asp-for="Listing.AdmissionInfo" class="form-control" />
                <span asp-validation-for="Listing.AdmissionInfo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.DateLabel</label>
            <div class="col-md-8" data-provide="datepicker">
                <input asp-for="Listing.Date" class="form-control"/>
                <span asp-validation-for="Listing.Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Description1Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Descriptions[1]" class="form-control" />
                <span asp-validation-for="Listing.Descriptions[1]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.Description2Label</label>
            <div class="col-md-8">
                <input asp-for="Listing.Descriptions[2]" class="form-control" />
                <span asp-validation-for="Listing.Descriptions[2]" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">@Model.BragLabel</label>
            <div class="col-md-8">
                <input asp-for="Listing.Brag" class="form-control" />
                <span asp-validation-for="Listing.Brag" class="text-danger"></span>
            </div>
        </div>
        <p>After you finish with the (optional) field below, click <em>Here</em> to add your location information</p>
        <p>Tell Us More (you might want to copy-and-paste the About-Us page from the website, or review - with attribution);</p>
        <div class="form-group">
            <label class="col-md-2"></label>
            <div class="col-md-10">
                <textarea rows="5" cols="300" asp-for="Listing.LongDescription" class="form-control"></textarea>
                <span asp-validation-for="Listing.LongDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.Listing.EventCategory)
    @Html.HiddenFor(model => model.Listing.EventType)
    @Html.HiddenFor(model => model.Listing.Location[0])
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}