@model EventListing
@{
    ViewData["Title"] = "Gig Details";
}

<div>
    <h4>Gig</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Band Name:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titles[0])
        </dd>
        <dt>
            @Html.Label("Genre:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descriptions[0])
        </dd>
        <dt>
            @Html.Label("Venue:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titles[1])
        </dd>
        <dt>
            @Html.Label("Band Website:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact[0])
        </dd>
        <dt>
            @Html.Label("Venue Website:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact[1])
        </dd>
        <dt>
            @Html.Label("Price:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.Label("Admission Info:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmissionInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.Label("When it's happening:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descriptions[1])
        </dd>
        <dt>
            @Html.Label("Time:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descriptions[2])
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brag)
        </dd>
        <dt>
            @Html.Label("Tell me more:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
