@model BusinessDetailsViewModel
@{
    ViewData["Title"] = "Health Care Listing";
}
<h1>Listing Preview</h1>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 right-column">
            @Html.Label("Title:")
        </div>

        <div class="col-md-9 listing-title">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 right-column">
            @Html.Label("Description:")
        </div>

        <div class="col-md-9">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 right-column">
            @Html.Label("Contact Info:")
        </div>

        <div class="col-md-9">
            @Html.DisplayFor(model => model.Contact)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 right-column">
            @Html.Label("Highlights:")
        </div>

        <div class="col-md-9">
            @Html.DisplayFor(model => model.Brag)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 right-column">
            @Html.Label("More Info:")
        </div>

        <div class="col-md-9">
            @Html.DisplayFor(model => model.LongDescription)
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 right-column">
            @Html.Label("Business Type:")
        </div>

        <div class="col-md-9">
            @Html.DisplayFor(model => model.BusinessType)
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
        </div>

        <div class="col-md-6">
            @{
                var id = Model.Id;
            }
            <a asp-action="Delete" asp-route-id="@id">Delete Listing</a>
        </div>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>