<h1>Seed Actions</h1>
<ul>
    <li>@Html.ActionLink("Seed Categories", "SeedCategories")</li>
    <li>@Html.ActionLink("Seed Events", "SeedEvents")</li>
    <li>@Html.ActionLink("Seed Businesses", "SeedBusinesses")</li>
    <li>@Html.ActionLink("Seed Forms", "SeedForms")</li>
    <li>@Html.ActionLink("Seed All", "SeedAll")</li>
</ul>
<hr/>

<h1>Delete Actions</h1>
<ul>
    <li>
        @Html.ActionLink("Drop Listing Collections", "DropListingCollections")
        <p><em>WARNING: THIS DROPS ALL EVENTS &amp; BUSINESSES</em></p>
    </li>
    <li>
        @Html.ActionLink("Drop Form Collections", "DropFormCollections")
        <p><em>WARNING: THIS DROPS EVENT AND BUSINESS FORMS</em></p>
    </li>
    <li>
        <p><em>NOTE: THE ACTIONS ABOVE DO NOT DROP USERS</em></p>
    </li>
</ul>
<hr />
